.lead__cutline {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-block-end: 0;
  text-align: left;
  margin: 8px auto auto 16px;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__cutline {
    margin: 8px auto 0 calc(16px + 0.017857 * (100vw - 320px));
  }
}

@media screen and (min-width: 768px) and (max-width: 927px) {
  .lead__cutline {
    margin: 8px auto auto 24px;
  }
}

@media screen and (min-width: 928px) and (max-width: 952px) {
  .lead__cutline {
    margin: 8px auto 0 calc(952px - 100vw);
    width: 928px;
  }
}

@media screen and (min-width: 953px) and (max-width: 1023px) {
  .lead__cutline {
    margin: 8px auto 0 auto;
    width: 928px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__cutline {
    margin: 8px auto 0 auto;
    width: calc(928px + 0.21875 * (1280px - 100vw));
  }
}

@media screen and (min-width: 1281px) {
  .lead__cutline {
    margin: 8px auto 0 auto;
    width: 984px;
  }
}
