.lead__cutline {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-block-end: 0;
  margin: 8px auto auto 16px;
}

@media screen and (min-width: 321px) and (max-width: 958px) {
  .lead__cutline {
    margin: 8px auto auto 24px;
  }
}

@media screen and (min-width: 959px) and (max-width: 1024px) {
  .lead__cutline {
    margin: 8px auto auto calc((100vw - 928px) / 2);
  }
}

@media screen and (min-width: 1025px) {
  .lead__cutline {
    margin: 8px auto auto calc((100vw - 984px) / 2);
  }
}
