.lead__cutline {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-block-end: 0;
  padding: 8px var(--padding) 0 var(--padding);
  text-align: left;
}
