.lead__banner {
  width: 100vw;
  height: calc(0.625 * 100vw);
  background-size: contain;
  background-image: url("../../../images/lead/lead__car-coach.jpg");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  overflow: visible;
}

@media screen and (min-width: 928px) and (max-width: 1023px) {
  .lead__banner {
    width: 928px;
    height: 580px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__banner {
    width: calc(928px + 0.21875 * (1280px - 100vw));
    height: calc(0.625 * (928px + 0.21875 * (1280px - 100vw)));
  }
}

@media screen and (min-width: 1281px) {
  .lead__banner {
    width: 984px;
    height: 615px;
  }
}
