@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__cutline/lead__cutline.css);
.lead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    /* width: 100%;*/
}

@media screen and (min-width: 1024px) {
    .lead {
        padding: 0 var(--padding);
    }
}