.photo-grid__item {
    display: block;
    box-sizing: border-box;
    --grid-w: 288px;
    width: var(--grid-w);
    height: calc(0.750 * var(--grid-w));
    object-fit: contain;
    transition: 0.5s ease-in-out;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 321px) and (max-width: 635px) {
    .photo-grid__item {
        --grid-w: calc(288px + (100vw - 320px) * (289/316));
    }
}

@media screen and (min-width: 636px) and (max-width: 767px) {
    .photo-grid__item {
        --grid-w: calc(288px + (100vw - 635px) * (64/132));
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid__item {
        --grid-w: calc(352px + (100vw - 768px) * (98/256));
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid__item {
        --grid-w: calc(300px + (100vw - 1024px) * (84/256));
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid__item {
        --grid-w: 284px;
    }
}