@import url(./__lang-menu/header__lang-menu.css);
@import url(./__language/header__language.css);
@import url(./__language/_selected/header__language_selected.css);
@import url(./__logo/header__logo.css);

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(288px + 0.9643 * (100vw - 320px));
  margin: calc(16px + 0.02679 * (100vw - 320px));
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin: 28px auto 0 auto;
    width: calc(720px + 0.8125 * (100vw - 768px));
  }
}

@media screen and (min-width: 1024px) and (min-width: 1271px) {
  .header {
    margin: 28px auto 0 auto;
    width: calc(928px + 1 * (100vw - 1024px));
  }
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 28px auto 0 auto;
    width: 1184px;
  }
}
