@import url(./__lang-menu/header__lang-menu.css);
@import url(./__language/header__language.css);
@import url(./__language/_selected/header__language_selected.css);
@import url(./__logo/header__logo.css);

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5% 5% 0 5%;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    margin: 28px 3% 0 3%;
  }
}

@media screen and (min-width: 769px) {
  .header {
    margin: 28px 48px 0 48px;
  }
}
