.lead__route {
  display: block;
  margin: calc(30px + (30 / 448) * (110vw - 320px))
    calc(8px + (10 / 448) * (100vw - 320px))
    calc(85px + (156 / 448) * (100vw - 320px))
    calc(8px + (10 / 448) * (100vw - 320px));
  width: calc(304px + (428 / 448) * (100vw - 320px));
  height: calc(85px + (120 / 448) * (100vw - 320px));
  z-index: 3;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__route {
    margin: calc(60px + (25 / 250) * (110vw - 768px))
      calc(18px + (4 / 250) * (100vw - 768px))
      calc(214px + (36 / 250) * (100vw - 768px))
      calc(18px + (4 / 250) * (100vw - 768px));
    width: calc(732px + (152 / 250) * (100vw - 768px));
    height: calc(205px + (160 / 250) * (100vw - 768px));
  }
}
