.footer__link {
  text-decoration: none;
  margin: 16px auto 16px 16px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: white;
  display: block;
}
.footer__link:visited {
  color: white;
}

.footer__link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 768) {
  .footer__link {
    margin: 0 10px 0 0;
    font-size: 16px;
    line-height: 1.12;
  }
}
