.header__lang-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 62px;
}

@media screen and (min-width: 769 px) {
  .header__lang-menu {
    flex-basis: 78px;
  }
}
