.place__column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 288px
}

@media screen and (min-width: 321px) and (max-width: 620px) {
    .place__column {
        max-width: calc(288px + (100vw - 320px) * (300 / 300));
        padding: 0 var(--padding);
    }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
    .place__column {
        max-width: calc(288px + (100vw - 620px) * (64 / 148));
        padding: 0 var(--padding);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__column {
        max-width: calc(352px + (100vw - 320px) * (104 / 256));
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__column {
        max-width: calc(456px + (100vw - 320px) * (28 / 256));
    }
}

@media screen and (min-width: 1280px) {
    .place__column {
        max-width: 484px;
    }
}