.lead__image {
    display: block;
    width: 100vw;
    height: calc(0.625 * 100vw);
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

@media screen and (min-width: 928px) and (max-width: 1023px) {
    .lead__image {
        width: 928px;
        height: 580px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .lead__image {
        width: calc(928px + 0.21875 * (100vw - 1024px));
        height: calc(0.625 * (928px + 0.21875 * (100vw - 1024px)));
    }
}

@media screen and (min-width: 1281px) {
    .lead__image {
        width: 984px;
        height: 615px;
    }
}