@import url(./__heading/intro__heading.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__facts-and-figures/intro__facts-and-figures.css);
@import url(./__fact/intro__fact.css);
@import url(./__figure/intro__figure.css);
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 var(--padding);
    box-sizing: border-box;
}