.intro__main-text {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 40px 0 32px 0;
}

@media screen and (min-width: 735px) {
    .intro__main-text {
        max-width: 690px;
    }
}