@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__image/place__image.css);
@import url(./__column/place__column.css);
@import url(./__description/place__description.css);
.place {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0;
}

@media screen and (min-width:320px) and (max-width: 629px) {
    .place {
        gap: calc(32px + (100vw - 320px) * (10 / 300));
    }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
    .place {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        row-gap: calc(42px + (100vw - 620px) * (6 / 148));
        column-gap: calc(25px + (100vw - 620px) * (3 / 148));
        padding: 0 var(--padding);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        row-gap: calc(42px + (100vw - 620px) * (6 / 148));
        column-gap: calc(25px + (100vw - 620px) * (3 / 148));
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        row-gap: calc(42px + (100vw - 620px) * (6 / 148));
        column-gap: calc(25px + (100vw - 620px) * (3 / 148));
    }
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-rows: calc(40px + (100vw - 620px) * (6 / 148)) auto;
        grid-template-columns: repeat(2, auto);
        row-gap: calc(42px + (100vw - 620px) * (6 / 148));
        column-gap: calc(25px + (100vw - 620px) * (3 / 148));
    }
}